In [2]:
import yfinance as yf
import pandas as pd
import math

In [5]:
company_name = input("Please enter the ticker of the stock ")
stock = yf.Ticker(company_name)

Please enter the ticker of the stock MSFT

In [6]:
print("Last few actions by the company including stock splits and dividends are:")
stock.actions.tail()

Last few actions by the company including stock splits and dividends are:

            Dividends  Stock Splits
Date
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0

In [7]:
print("The major holders/promoters of the company include: ")
stock.major_holders[:3]

The major holders/promoters of the company include:

        0                                 1
0   0.07%   % of Shares Held by All Insider
1  72.08%  % of Shares Held by Institutions
2  72.14%   % of Float Held by Institutions

In [8]:
print("The major instituitional share of the company include: ")
stock.institutional_holders

The major instituitional share of the company include:

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",610849992,2021-03-30,0.0811,144020102613
1,Blackrock Inc.,518649291,2021-03-30,0.0689,122281943339
2,State Street Corporation,292575655,2021-03-30,0.0388,68980562179
3,"FMR, LLC",217585928,2021-03-30,0.0289,51300234244
4,Price (T.Rowe) Associates Inc,178824616,2021-03-30,0.0237,42161479714
5,"Geode Capital Management, LLC",120231394,2021-03-30,0.0160,28346955763
6,Capital World Investors,112150578,2021-03-30,0.0149,26441741775
7,Capital Research Global Investors,99286940,2021-03-30,0.0132,23408881843
8,Capital International Investors,90228967,2021-03-30,0.0120,21273283549
9,Northern Trust Corporation,89762724,2021-03-30,0.0119,21163357437

In [9]:
stock.info['longBusinessSummary']

'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, organizations, and enterprise divisions. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has a collaboration with DXC Technology, Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, and iCIMS, Inc. The company was founded in 1975 and is headquartered in Redmond, Washington.'

In [10]:
print("The recommendation of the company by raters using most recent finances are: ")
stock.recommendations.tail()

The recommendation of the company by raters using most recent finances are:

                               Firm    To Grade From Grade Action
Date
2021-07-28 13:22:55  Morgan Stanley  Overweight              main
2021-07-28 14:47:46        Barclays  Overweight              main
2021-07-28 14:49:16       Citigroup         Buy              main
2021-07-28 14:51:12          Mizuho         Buy              main
2021-07-28 14:54:54   Credit Suisse  Outperform              main

In [11]:
print("The company's contribution towards environment and social responsibility includes: ")
stock.sustainability

The company's contribution towards environment and social responsibility includes:

                                     Value
2021-5
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.37
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              103
governanceScore                       4.83
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             14.63
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.59
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.42
governancePercentile                  None
militaryContract                     False

In [12]:
historical_1 = stock.history(period="1y")
historical_2 = stock.history(period="2y")
historical_3 = stock.history(period="3y")
historical_5 = stock.history(period="5y")

In [13]:
return_1 = ((historical_1["Close"]).shift(-1)/historical_1["Close"])
return_1=return_1.dropna()

return_2 = ((historical_2["Close"]).shift(-1)/historical_2["Close"])
return_2=return_2.dropna()

return_3 = ((historical_3["Close"]).shift(-1)/historical_3["Close"])
return_3=return_3.dropna()

return_5 = ((historical_5["Close"]).shift(-1)/historical_5["Close"])
return_5=return_5.dropna()

In [14]:
count=0
for i in return_1:
    count+=1
    i=i*i+1
annualized_return = ((i**(1/1))-1)*100
print("The one year annualized return for the stock is ",annualized_return,"%")

count=0
for i in return_2:
    count+=1
    i=i*i+1
twoyear_return = ((i**(1/2))-1)*100
print("The two year annualized return for the stock is ",twoyear_return,"%")

count=0
for i in return_3:
    count+=1
    i=i*i+1
threeyear_return = ((i**(1/3))-1)*100
print("The three year annualized return for the stock is ",threeyear_return,"%")

count=0
for i in return_5:
    count+=1
    i=i*i+1
fiveyear_return = ((i**(1/5))-1)*100
print("The five year annualized return for the stock is ",fiveyear_return,"%")

The one year annualized return for the stock is  99.77676511279228 %
The two year annualized return for the stock is  41.34240875009605 %
The three year annualized return for the stock is  25.94521114901134 %
The five year annualized return for the stock is  14.8441810884546 %

In [15]:
historical_max = stock.history(period="max")

In [16]:
return_max = historical_max["Close"].shift(-1)/historical_max["Close"]
return_max = return_max.dropna()

In [17]:
historical_var = return_max.sort_values(ascending=True)
max_count = historical_var.index
max_count = len(max_count)
var_count = math.floor(max_count*0.01)
var = (historical_var[var_count]-1)*100
print("The historical one day-VaR of the Company at 99% confidence interval is ",var,"%")
expected_shortfall = abs((historical_var.iloc[0:var_count]-1)).sum()
expected_shortfall = -(expected_shortfall/var_count)*100
print("The expected shortfall of the company at 99% confidence interval is ",expected_shortfall,"%")

The historical one day-VaR of the Company at 99% confidence interval is  -5.490206760309779 %
The expected shortfall of the company at 99% confidence interval is  -7.927281485384784 %

In [18]:
daily_volatility = return_5.std(axis=0)
annual_volatility = daily_volatility*math.sqrt(252)
monthly_volatility = annual_volatility/math.sqrt(12)
print("The daily volatility of the stock is ",daily_volatility*100,"%")
print("The monthly volatility of the stock is ",monthly_volatility*100,"%")
print("The annualized volatility of the stock is ",annual_volatility*100,"%")

The daily volatility of the stock is  1.715275204030941 %
The monthly volatility of the stock is  7.860378460152609 %
The annualized volatility of the stock is  27.229149719408667 %

In [19]:
index = yf.Ticker("DJI")
index_historical_5 = index.history(period="5y")
index_historical_5 = index_historical_5['Close']
index_historical_5

Date
2016-07-29    18432.199219
2016-08-01    18404.500000
2016-08-02    18313.800781
2016-08-03    18355.000000
2016-08-04    18352.099609
                  ...
2021-07-21    34798.000000
2021-07-22    34823.300781
2021-07-23    35061.601562
2021-07-26    35144.300781
2021-07-27    35058.500000
Name: Close, Length: 1091, dtype: float64

In [22]:
stock_with_index = historical_5['Close']
stock_with_index

Date
2016-07-29     52.216900
2016-08-01     52.124783
2016-08-02     52.124783
2016-08-03     52.484077
2016-08-04     52.871002
                 ...
2021-07-22    286.140015
2021-07-23    289.670013
2021-07-26    289.049988
2021-07-27    286.540009
2021-07-28    286.220001
Name: Close, Length: 1258, dtype: float64

In [26]:
stock_with_index = pd.concat([stock_with_index, index_historical_5], axis=1)

In [29]:
stock_with_index.columns = ['CloseCompany', 'CloseIndex']
stock_with_index = stock_with_index.dropna()

In [30]:
stock_with_index

            CloseCompany    CloseIndex
Date
2016-07-29     52.216900  18432.199219
2016-08-01     52.124783  18404.500000
2016-08-02     52.124783  18313.800781
2016-08-03     52.484077  18355.000000
2016-08-04     52.871002  18352.099609
...                  ...           ...
2021-07-21    281.399994  34798.000000
2021-07-22    286.140015  34823.300781
2021-07-23    289.670013  35061.601562
2021-07-26    289.049988  35144.300781
2021-07-27    286.540009  35058.500000

[1091 rows x 2 columns]

In [41]:
corr = stock_with_index['CloseCompany'].corr(stock_with_index['CloseIndex'])
beta = corr*(stock_with_index['CloseCompany'].std()/stock_with_index['CloseIndex'].std())
print("The Beta of the Company is ",beta)
index_price=float(input("Enter the current price of Dow Jones Futures Contract "))
hedged_position = (0-beta)*1000000/index_price*250
print("To protect against any systemic risk from market, it is advised to short",math.floor(abs(hedged_position)),"DOW JONES Future Contracts")

The Beta of the Company is  0.014160859512982554
Enter the current price of Dow Jones Futures Contract 34930.32
To protect against any systemic risk from market, it is advised to short 101 DOW JONES Future Contracts